.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }



nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

nz-footer {
    text-align: center;
}

.shell-container{
    min-height: 100%;
    // min-width: 1150px;
}

nz-header {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .right {
      margin-right: 0;
    }
    .header-left {
      margin-left: 20px;
    }
    .header-right {
      margin: 0 24px;
      width: 160px;
      cursor: pointer;
  
      img {
        margin-right: 6px;
        width:30px;
        height: 30px;
        right: 0;
      }
    }
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }