<nz-layout class="shell-container">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="0"
    nzZeroTrigger="zeroTrigger"
    nzWidth="200px"
  >
    <div class="logo"></div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu>
        <span title>
          <span>大堂管理</span>
        </span>

        <ul>
          <li nz-menu-item [routerLink]="['canteen/']">点餐</li>
        </ul>
        <ul>
          <li nz-menu-item>销售统计</li>
        </ul>
        <ul>
          <li nz-menu-item>反馈统计</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title>
          <span>厨房管理</span>
        </span>

        <ul>
          <li nz-menu-item>订单分配</li>
        </ul>
        <ul>
          <li nz-menu-item>生产加工</li>
        </ul>
        <ul>
          <li nz-menu-item>工位管理</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title>
          <span>供应链管理</span>
        </span>

        <ul>
          <li nz-menu-item>采购管理</li>
        </ul>
        <ul>
          <li nz-menu-item>出入库管理</li>
        </ul>
        <ul>
          <li nz-menu-item>库存管理</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <span>人事管理</span>
        </span>

        <ul>
          <li nz-menu-item>招聘管理</li>
        </ul>
        <ul>
          <li nz-menu-item>考勤管理</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title>
          <span>财务管理</span>
        </span>

        <ul>
          <li nz-menu-item>收入管理</li>
        </ul>
        <ul>
          <li nz-menu-item>支出管理</li>
        </ul>
        <ul>
          <li nz-menu-item>税务管理</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title>
          <span>基础数据维护</span>
        </span>

        <ul>
          <li nz-menu-item [routerLink]="['date-setting/food']">菜品管理</li>
        </ul>
        <ul>
          <li nz-menu-item [routerLink]="['date-setting/seat']">座位管理</li>
        </ul>
        <ul>
          <li nz-menu-item [routerLink]="['date-setting/user']">
            系统用户管理
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-left">餐厅点餐系统</div>
      <!-- <nz-dropdown>
        <div class="header-right" nz-dropdown>
          欢迎您，{{userName}}
        </div>
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="logout()">
            <a>退出登陆</a>
          </li>
        </ul>
      </nz-dropdown> -->
      <a nz-dropdown class="header-right" [nzDropdownMenu]="menu">
        欢迎您，{{userName}}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="logout()">退出登陆</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

    <!-- <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
