<nz-card nzTitle="单位维护">
  <div class="table-header row">
    <button
      class="table-header-left"
      nz-button
      nzType="primary"
      (click)="add()"
    >
      新增
    </button>

    <!-- <nz-input-group
        class="table-header-right"
        nzSearch
        [nzSuffix]="suffixIconButton"
      > -->
    <input
      class="table-header-right"
      type="text"
      nz-input
      [(ngModel)]="searchString"
      placeholder="请输入搜索内容"
      (input)="search()"
    />
    <!-- </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="search()">
          <i class="anticon anticon-search"></i>
        </button>
      </ng-template> -->
  </div>
  <nz-table
    #nzTable
    nzPageSize="8"
    *ngIf="foodLsit$ |async as foodData"
    [nzData]="foodData"
    [nzShowTotal]="totalTemplate"
  >
    <thead>
      <tr>
        <th nzWidth="20%">菜品</th>
        <th nzWidth="20%">类别</th>
        <th nzWidth="20%">价格</th>
        <th nzWidth="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; let index = index;">
        <td>
          <div *ngIf="!data.edit">
            {{data.name}}
          </div>
          <div *ngIf="data.edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="data.name"
            />
          </div>
        </td>
        <td>
          <div *ngIf="!data.edit">
            {{data.type}}
          </div>
          <div *ngIf="data.edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="data.type"
            />
          </div>
        </td>

        <td>
          <div *ngIf="!data.edit">
            {{data.price}}
          </div>
          <div *ngIf="data.edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="data.price"
            />
          </div>
        </td>

        <td>
          <div class="editable-row-operations">
            <div *ngIf="!data.edit">
              <button
                nzType="primary"
                nzGhost
                nz-button
                (click)="startEdit(data)"
              >
                编辑
              </button>

              <nz-divider nzType="vertical"></nz-divider>

              <!-- (click)="showDeleteConfirm(data)" -->
              <button nz-button nzType="primary" nzGhost>
                删除
              </button>
            </div>
            <div *ngIf="data.edit">
              <button nzType="primary" nzGhost nz-button (click)="save(data)">
                保存
              </button>
              <nz-divider nzType="vertical"></nz-divider>
              <button
                nz-popconfirm
                nzPopconfirmTitle="确定取消?"
                (nzOnCancel)="cancel()"
                (nzOnConfirm)="cancelEdit(data)"
                nzType="primary"
                nzGhost
                nz-button
              >
                取消
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate let-total>
      共 {{ foodList.length}} 项
    </ng-template>
  </nz-table>
</nz-card>
