<nz-card nzTitle="用户维护">
  <div class="table-header row">
    <button class="table-header-left" nz-button nzType="primary">
      新增
    </button>

    <input
      type="text"
      nz-input
      [(ngModel)]="searchString"
      placeholder="请输入搜索内容"
      (input)="search()"
      style="width: 300px;"
    />
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()">
        <i class="anticon anticon-search"></i>
      </button>
    </ng-template>
  </div>

  <nz-table
    #nzTable
    nzPageSize="8"
    *ngIf="user$ | async as displayUserList"
    [nzData]="displayUserList"
    [nzShowTotal]="totalTemplate"
    [nzLoading]="loading"
  >
    <thead>
      <tr>
        <th nzWidth="20%">姓名</th>
        <th nzWidth="20%">手机号</th>
        <th nzWidth="20%">创建时间</th>
        <th nzWidth="20%">激活状态</th>
        <th nzWidth="20%">权限</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data;">
        <td>
          <div>{{data.username}}</div>
        </td>

        <td>
          <div>{{data.mobile}}</div>
        </td>

        <td>
          <div>{{data.date_joined | date: 'yyyy-MM-dd HH:mm'}}</div>
        </td>

        <td>
          <div *ngIf="data.is_active">已激活</div>
          <div *ngIf="!data.is_active">已激活</div>
        </td>

        <td>
          <div *ngIf="data.is_superuser">是</div>
          <div *ngIf="!data.is_superuser">否</div>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate let-total>
      共 {{ displayUserList.length}} 项
    </ng-template>
  </nz-table>
</nz-card>
