<nz-table #basicTable [nzData]="foodList">
  <thead>
    <tr>
      <th>菜名</th>
      <th>类别</th>
      <th>价格</th>
      <th>数量</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.food_obj.name}}</td>
      <td>{{data.food_obj.type}}</td>
      <td>{{data.food_obj.price}}</td>
      <td>{{data.amount}}</td>
    </tr>
  </tbody>
</nz-table>
