<nz-card class="body">
  <div class="content">
    <nz-card
      class="card"
      *ngFor="let display of display$ | async"
      [nzTitle]=" '座位：' + display.seat.number"
      nzHoverable="true"
    >
      <div [ngSwitch]="display.seatStatus">
        <nz-badge
          *ngSwitchCase="0"
          nzStatus="processing"
          nzText="用餐中"
        ></nz-badge>
        <nz-badge *ngSwitchCase="2" nzStatus="success" nzText="空闲"></nz-badge>

        <div *ngSwitchCase="2" class="margin-top-10">
          <div class="margin-top-10">最大人数：{{display.seat.people_no}}</div>
          <div class="margin-top-10">
            <nz-input-number
              [(ngModel)]="display.seatPeoples"
              [nzMin]="1"
              [nzMax]="10"
              [nzStep]="1"
              style="margin-right: 10px;"
            ></nz-input-number>
            <button
              nz-button
              nzType="primary"
              (click)="order(display.seat)"
              style="width: 100px;"
            >
              开始点餐
            </button>
          </div>
        </div>

        <div *ngSwitchCase="0">
          <div class="margin-top-10" nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="12">
              用餐人数：{{display.seat.people_no}}
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              总价：{{display.totalPrice}}
            </div>
          </div>
          <div class="margin-top-10">
            <button
              nz-button
              nzType="primary"
              style="margin-right: 10px; width: 100px;"
              (click)="foodOrdered(display)"
            >
              已点菜单
            </button>

            <button
              nz-button
              nzType="primary"
              (click)="pay(display)"
              style="width: 100px;"
            >
              结账
            </button>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</nz-card>
