
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: darkgray;

  .login {
    position: relative;
    width: 500px;
    border-radius: 15px;
    opacity: 0.8;

    .login-title {
      text-align: center;
      font-size: 30px;
      font-weight: bolder;
    }
  }

  // .login-background{
  //   position: absolute;
  // }

  // .login-content{
  //   position: absolute;
  // }
  .login-form {
    position: relative;
    max-width: 300px;
    margin: auto;
    padding-top: 20px;
    opacity: 1;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}