<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let item of foods$ | async">
    <nz-list-item-meta>
      <!-- <nz-list-item-meta-avatar [nzSrc]="item.avatar">
      </nz-list-item-meta-avatar> -->
      <nz-list-item-meta-title>
        {{ item.name }}
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ item.price }}¥
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    种类:{{ item.type }}
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-input-number
          [(ngModel)]="item.amount"
          [nzMin]="0"
          [nzMax]="10"
          [nzStep]="1"
          (ngModelChange)="orderFood(item)"
        ></nz-input-number>
      </nz-list-item-action>
      <!-- <nz-list-item-action
        ><i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
        156</nz-list-item-action
      >
      <nz-list-item-action
        ><i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
        2</nz-list-item-action
      > -->
    </ul>
    <nz-list-item-extra>
      <img
        width="272"
        alt="logo"
        src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"
      />
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
