<nz-card nzTitle="单位维护" *ngIf="(vm$ | async) as vm">
  <div class="table-header row">
    <button
      nz-button
      nzType="primary"
      (click)="createTplModal(tplTitle, tplContent, 'add')"
    >
      <span>新增</span>
    </button>
    <input
      class="table-header-right"
      type="text"
      nz-input
      [formControl]="searchTerm"
      placeholder="请输入搜索内容"
    />
  </div>
  <nz-table
    #nzTable
    nzPageSize="8"
    [nzData]="vm.foods"
    [nzShowTotal]="totalTemplate"
  >
    <thead>
      <tr>
        <th nzWidth="20%">菜品</th>
        <th nzWidth="20%">类别</th>
        <th nzWidth="20%">价格</th>
        <th nzWidth="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; let index = index;">
        <td>
          <div *ngIf="!data.edit">
            {{data.name}}
          </div>
          <div *ngIf="data.edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="data.name"
            />
          </div>
        </td>
        <td>
          <div *ngIf="!data.edit">
            {{data.type}}
          </div>
          <div *ngIf="data.edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="data.type"
            />
          </div>
        </td>

        <td>
          <div *ngIf="!data.edit">
            {{data.price}}
          </div>
          <div *ngIf="data.edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="data.price"
            />
          </div>
        </td>

        <td>
          <div class="editable-row-operations">
            <button
              nzType="primary"
              nzGhost
              nz-button
              (click)="createTplModal(tplTitle, tplContent, 'update', data)"
            >
              编辑
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" nzGhost>
              删除
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate let-total>
      共 {{ vm.foods.length}} 项
    </ng-template>
  </nz-table>
</nz-card>

<ng-template #tplTitle>
  <span>Title Template</span>
</ng-template>
<ng-template #tplContent let-params let-ref="modalRef">
  <form nz-form [formGroup]="params.form">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input food name!">
        <nz-input-group>
          <input formControlName="name" nz-input placeholder="name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input food type!">
        <nz-input-group>
          <input formControlName="type" nz-input placeholder="type" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input food price!">
        <nz-input-group>
          <input formControlName="price" nz-input placeholder="price" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  <!-- <button nz-button (click)="ref.destroy()">Destroy</button> -->
</ng-template>
<ng-template #tplFooter>
  <button
    nz-button
    nzType="primary"
    (click)="destroyTplModal()"
    [nzLoading]="tplModalButtonLoading"
  >
    Close after submit
  </button>
</ng-template>
