nz-card {
    margin: 16px;
  }
  
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
  
    .table-header-left {}
  
    .table-header-right {
      max-width: 300px;
      margin-right: 30px;
    }
  }
  
  nz-table tr {
  
    >th,
    >td {
      text-align: left;
      font-size: 16px;
      // font-family: KaiTi;
  
  
      .editable-row-operations button {
        border: 0px;
        padding: 0px;
        box-shadow: unset;
      }
    }
  }
  
  button {
    font-size: 16px
  }
  
  
  
  // modal删除按钮
  ::ng-deep .delete-modal .ant-btn-primary {
    background-color: #f44336;
    border-color: #f44336;
  }
  