<div class="body">
  <div class="example-box" cdkDrag>
    <div class="title" cdkDragHandle><span>属性版</span></div>
    <div class="content">
      <div class="data">
        <button nz-button nzType="primary" (click)="changeData()">
          含00列
        </button>
        <button nz-button nzType="primary" (click)="changeData00()">
          不含00列
        </button>
      </div>
      <div class="box">
        <span>格子尺寸(宽/高)：</span>
        <input
          type="text"
          placeholder="宽"
          nz-input
          [min]="60"
          [ngModel]="box.width"
          (ngModelChange)="boxChangeWidth($event)"
        />
        <input
          type="text"
          placeholder="高"
          nz-input
          [min]="60"
          [ngModel]="box.height"
          (ngModelChange)="boxChangeHeight($event)"
        />
      </div>
      <ng-container *ngIf="(color$ | async) as color">
        <div class="ctn-20-color">
          <span>20尺颜色：</span>
          <input
            type="color"
            [ngModel]="color.ctn20Color"
            (ngModelChange)="ctn20ColorChange($event)"
          />
        </div>
        <div class="ctn-40-color">
          <span>40尺颜色：</span>
          <input
            type="color"
            [ngModel]="color.ctn40Color"
            (ngModelChange)="ctn40ColorChange($event)"
          />
        </div>
        <div class="ctn-40-color">
          <span>边框颜色：</span>
          <input
            type="color"
            [ngModel]="color.stroke_color"
            (ngModelChange)="strokeColorChange($event)"
          />
        </div>
      </ng-container>
    </div>
  </div>

  <h1 *ngIf="(bayName$ | async) as bayName">{{bayName}}</h1>
  <svg
    *ngIf="(svg$ | async) as container"
    [attr.width]="container.width"
    [attr.height]="container.height"
    class="scene"
  >
    <g
      *ngFor="let row of rows$ | async"
      
    >
      <svg:text
        [attr.dx]="row.dx"
        [attr.dy]="row.dy"
        font-size="16"
        text-anchor="middle"
        cursor="point"
      >
        {{row.text}}
      </svg:text>
    </g>

    <g
      *ngFor="let col of (cols$ | async)"
      [attr.transform]="'translate(' + col.x + ', ' + col.y + ')'"
    >
      <svg:text
        [attr.dx]="col.dx"
        [attr.dy]="col.dy"
        font-size=" 16"
        text-anchor="middle"
      >
        {{col.text}}
      </svg:text>
    </g>

    <g
      *ngFor="let d of (data$ | async);"
      [attr.transform]="'translate(' + d.x + ', ' + d.y + ')'"
    >
      <svg:rect
        [attr.width]="d.width"
        [attr.height]="d.height"
        [attr.stroke]="d.stroke_color"
        [attr.stroke-width]="d.stroke_width"
        [attr.fill]="d.fill"
        (click)="click(d)"
        class="circle"
      ></svg:rect>
      <svg:text [attr.dx]="d.dx" [attr.dy]="d.dy" font-size=" 16">
        {{d.text}}
      </svg:text>
    </g>
  </svg>
</div>
