.body {
    position: relative;
    background: linear-gradient(to bottom, #E7E7E7, white);
    width: 100%;
    height: 100%;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
  }

input {
    width: 60px;
    margin-left: 10px;
}
button {
    width: 40%;
    margin: 0 10px; 
}
.ng-dirty {
    border-color: red;
}

.scene {
    margin: 0 auto;
    display: block;
}

.circle {
    display: block;
    cursor: pointer;
}

.circle:hover {
    fill: #ECF0B5;
}


.example-box {
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    background:#E7E7E7;
    border-radius: 4px;
    z-index: 999;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);


    .title {
        cursor: move;
        height: 50px;
        border-bottom: solid 1px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .content {
        height: 80%;
        padding: 10px;

        .data {
            text-align: center;
            border-bottom: solid 1px #ccc;
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
                        0 -1px 5px 0 rgba(0, 0, 0, 0.12);
        }
        .box {
            border-bottom: solid 1px #ccc;
            margin: 10px 0;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
                        // 0 2px 5px 0 rgba(0, 0, 0, 0.12),
                        0 -1px 2px 0 rgba(0, 0, 0, 0.14),
                        // 0 -2px 5px 0 rgba(0, 0, 0, 0.12);
        }
        

        .ctn-20-color, .ctn-40-color {
            border-bottom: solid 1px #ccc;
            display: flex;
            align-items: center;
            margin: 10px 0;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
                        0 -1px 5px 0 rgba(0, 0, 0, 0.12);
            .color-label {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 30px;
                border-radius: 5px;
                margin: 0 2px;
            }
        }
        
    }
}

.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  



